<body>
    <div class="container">
        <div class="row">
          <div class="col">
              <img src="../../../assets/Images/images.jpg" alt="">
          </div>
          <div class="col">
              <h1>about us</h1>
              <p>Black Panther is the title held by T'Challa, a member of the royal family of the
                   fictional African country of Wakanda. After the death of his father, 
                   T'Challa claimed the throne and the role of Black Panther.
                    He was exposed to a mystical herb that enhanced his strength and 
                    agility to near-superhuman levels.</p>
              <p>Black Panther is the title held by T'Challa, a member of the royal family of the
                   fictional African country of Wakanda. After the death of his father, 
                   T'Challa claimed the throne and the role of Black Panther.
                    He was exposed to a mystical herb that enhanced his strength and 
                    agility to near-superhuman levels.</p>
          </div>
        </div>
      </div>
</body>