/* You can add global styles to this file, and also import other style files */
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,
    url("../src/assets/images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
